[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "omopgenerics"]
	path = omopgenerics
	url = https://github.com/darwin-eu-dev/omopgenerics
	registered = false
[submodule "visOmopResults"]
	path = visOmopResults
	url = https://github.com/oxford-pharmacoepi/visomopresults
