[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "omock"]
	path = omock
	url = https://github.com/oxford-pharmacoepi/omock
[submodule "omopgenerics"]
	path = omopgenerics
	url = https://github.com/darwin-eu-dev/omopgenerics
	registered = false
