[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CohortSymmetry"]
	path = CohortSymmetry
	url = https://github.com/oxford-pharmacoepi/cohortsymmetry
[submodule "omock"]
	path = omock
	url = https://github.com/oxford-pharmacoepi/omock
